html {
    background-image: radial-gradient(circle, #00fff4, #71feff, #bbfaff, #ebf9ff, #ffffff);
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    /*background-image: url("../images/source1.gif");*/
    background-image: radial-gradient(circle, #00fff4, #71feff, #bbfaff, #ebf9ff, #ffffff);
    background-position-x: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-y: bottom;
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

body.screen-overflow {
    overflow-y: hidden;
}

li{
    list-style-type: tibetan;
    text-decoration: none;
}

li > a:hover {
    font-size: 8vw;
    transition: 1.8s ease;
    padding: 5%;
    margin: 10px;
    border-radius: 50%;
    opacity: 1;
    -webkit-box-shadow: 10px 10px 300px 122px rgba(255, 255, 255, 1);
    -moz-box-shadow: 10px 10px 300px 122px rgba(255, 255, 255, 1);
    box-shadow: 10px 10px 300px 122px rgba(255, 255, 255, 1);
    text-decoration: underline;
}

a{
    color: #0000cc;
}

li > a {
    transition: 1.8s ease;
    margin: 5px;
    font-size: 1.5vw;
    opacity: 0.6;
    display: inline-block;
    text-decoration: none;
}

.top {
    opacity: 0.2;
    position: absolute;
    top: -30%;
    height: 200%;
    z-index: 0;
    left: -50%;
}

@media screen and (min-width: 1024px) {
    .top {
        left: 0;
    }

}

.bottom {
    bottom: 0;
    right: 0;
    opacity: 0.2;
    position: absolute;
    z-index: 0;
}

ul.menu {
    position: relative;
    z-index: 10;
    list-style-type: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    transition: 1s ease;
    padding-bottom: 100px;
    margin-left: 40px;
    margin-top: 60px;

}

#home {
    font-size: 40px;
    position: relative;
    z-index: 1000;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    #home {
        position: relative;
        z-index: 1000;
        left: -66px;
        top: -59px;
        font-size: 200px;
        transition: 4s;
    }
}

@media screen and (min-width: 1024px) {
    #home:hover {
        background-color: black;
        color: white;
        opacity: 0.2;
        font-size: 230px;
        padding: 80px;
        border-radius: 50%;
        transition: 2s;
        box-shadow: 40px 40px 300px 122px rgba(0, 0, 0, 1);
        animation: none;
        text-decoration: underline;
    }
}

#home:hover:after {
    content: "go to homepage to look at the menu";
    font-size: 23px;
    position: absolute;
    color: black;
    background-color: tan;
    bottom: 30px;
}

*, h1, h2 {
    font-family: "Courier New", Courier, Sans-Serif;
}

/* Paragraphes en bleu par défaut */
p {
    color: blue;
    margin-bottom: 1rem;
}

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media (max-width: 767px) {
    li > a {
        font-size: 5vw;
        margin: 10px;
    }

    h1 {
        font-size: 6vw;
    }
}

.box {
    margin: 0;
    position: relative;
    z-index: 10;
}

@media (min-width: 767px) {
    .box {
        width: calc(100% / 3);
        margin: 80px auto;
        z-index: 30;
        position: relative;
    }
}

.image-box img {
    display: inline-block;
    width: 35%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: 1.6s ease;
    position: relative;
    z-index: 100;
    margin: 5%;
    transform: perspective(600px) rotateY(-30deg);
    opacity: 0.5;
}

.image-box img:hover {
    width: 45%;
    margin: 2%;
    transform: rotateY(0);
    cursor: pointer;
    opacity: 1;
    transition: transform 1.6s;
}

.image-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: end;
}

/*.image-box img:hover{
  width: 500px;
  transition: 0.3s ease;
}*/

* {
    padding: 0;
    margin: 0;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.344, 0.6), box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.344, 0.6), opacity 0.5s cubic-bezier(0.215, 0.61, 0.344, 0.6);
}

#container {
    margin: 0 auto;
}

#container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}



.item {
    position: relative;
    display: inline-block;
    top: 20px;
    width: 280px;
    overflow: hidden;
    margin: 20px;

    cursor: pointer;
    transform: perspective(600px) translate3d(0, 0, 0);
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, .3);
    opacity: 0.5;
}

@media (min-width: 767px) {
    .item{
        width: 350px;
        margin-bottom: 80px;
    }

}

box_wrap{
    width: 280px;
    height: 280px;
}
@media (min-width: 767px) {
    box_wrap{
        width: 350px;
        height: 350px;
    }
}

.item img {
    position: relative;
    top: 0;
    width: 100%;
}

.item a{
    width: 280px;
}

.box_inner {
    position: absolute;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    left: 20px;
    bottom: 20px;
}

.box_inner .title, .tag {
    opacity: 1;
    background: rgba(254, 254, 254, 0.8);
    display: inline-block;
    padding: 0 5px;
    margin: 1px;
}

.item:hover .title {
    opacity: 1;
}

.item:hover .tag {
    opacity: 1;
}

.item:hover {
    box-shadow: 0 66px 75px -10px rgba(0, 0, 0, .3);
    transform-style: preserve-3d;
    z-index: 20;
    opacity: 1;
}

.item .cover {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.item .item_layer {
    opacity: 0.1;
    background: linear-gradient(120deg, #000000 0%, #000000 100%);
    z-index: 21
}

.item:hover .item_layer {
    opacity: 0.4;
    background: linear-gradient(120deg, #000000 0%, #ffffff 100%);
}

.item {
    backface-visiblity: none;
    transform-style: preserve-3d;
}

/* css poetry */



.blue, .red{
    width: 100px;
    height: 100px;
    position: absolute;
    mix-blend-mode: add;
    opacity: 0.3;
    color: white;
    font-size: 60px;
}

@media (min-width: 767px) {
    .blue, .red{
        width: 200px;
        height: 200px;
    }}

.blue{
    background-color: blue;
    top: 100px;
    left: 100px;
    transition: 1s;

    z-index: 4;
}

.red{
    background-color: red;
    top: 200px;
    left: 200px;
    transition: 2s;

    z-index: 4;

    mix-blend-mode: darken;

}

.blue:hover{
    top: 125px;
    left: 125px;
    opacity:0.8;
}

.red:hover{
    top:175px;
    left:175px;
    opacity:0.8;
}

.yellow{
    background-color: white;
    position: absolute;
    z-index: 1;
    width: 400px;
    height: 400px;
    top: 50px;
    left: 50px;
    opacity: 0.7;
}

.bien-mal{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

.desktop-only{
    display: none;
}

@media (min-width: 767px) {
    li.desktop-only{
        display: list-item;
    }

}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: skew(1deg, -18deg) ;
        -o-transform: skew(1deg, -18deg) ;
        transform: skew(1deg, -18deg) ;
    }
    to {
        -webkit-transform: skew(1deg, -11deg) ;
        -o-transform: skew(1deg, -11deg) ;
        transform: skew(1deg, -11deg) ;
    }
}
@keyframes rotating {
    from {
        -ms-transform: skew(1deg, -180deg);
        -moz-transform:  skew(1deg, -180deg);
        -webkit-transform:  skew(1deg, -180deg) ;
        -o-transform:  skew(1deg, -180deg) ;
        transform:  skew(1deg, -180deg) ;
    }
    to {
        -ms-transform: skew(1deg, -11deg) ;
        -moz-transform: skew(1deg, -11deg) ;
        -webkit-transform: skew(1deg, -11deg) ;
        -o-transform: skew(1deg, -11deg) ;
        transform: skew(1deg, -11deg) ;
    }
}
.rotating {
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1,h2,p, .nav-box{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    font-weight:normal;
}